<nav class="blue darken-4">
  <div class="nav-wrapper">
    <ul class="left">
      <li>
        <a materialize="sideNav" [materializeParams]="[{closeOnClick: true}]" data-activates="slide-out" class="waves-effect waves-light">
          <i class="material-icons">menu</i>
        </a>
      </li>
    </ul>
    <a class="brand-logo center">
      <h5 class="m-t-1rm">Inicio</h5>
    </a>
  </div>
</nav>

<div class="row">
  <div class="col s12">
    <div class="card-panel teal">
      <span class="white-text">Dashboard
      </span>
    </div>
  </div>
</div>